body {
	background-color: #f7f9fc; /*#bad9ff*/
}

#header {
	width: 100%;
	height: 100px; 
	/* background-color: #fcebed*/
}

p {
	font-family: Ariel;
}
a:hover {
	cursor: pointer;
}

#logo {
	position: absolute;
	padding-top: 2px;
	padding-left: 10px;
}

#logo #orah {
	height: 100px;
	width: 190px;
}

#logo #orah .k1 {
	fill: grey;
	fill-opacity: 0%;
	transition: fill-opacity 0.3s; 
}
#logo #orah .k2 {
	fill: black;
}
#logo #orah .k3 {
	fill: #fffef2;
	fill-opacity: 0%;
	transition: fill-opacity 0.6s; 
	transition-delay: 0.3s;
}

#logo #orah:hover .k1 {
	fill-opacity: 100%;
}
#logo #orah:hover .k3 {
	fill-opacity: 100%;
}


#meni {
	position: absolute;
	margin: 0px;
	top: 30px;
	right: 25px;
}

#meni p {
	margin: 0px;
	font-size: 20px;
}

#meni a {
	font-family: 'Comfortaa', sans-serif;
	text-decoration: none;
	color: black;
}

#meni a:hover {
	color: red;
}

#meni p a.active {
	color: red;
}

#galerija .ukrs {
	height: 150px;
	width: 150px;
	position: absolute;
	margin: 0px;
	top: 0px;
	right: 105px;

}
#galerija .ukrs:hover {
	cursor: pointer;
}
#galerija .ukrs .kocka1 {
	fill: white; 
}
#galerija .ukrs .kocka2 {
	fill: black; 
	fill-opacity: 0%;
	transition: fill-opacity 0.3s; 
}
#galerija .ukrs .kocka3 {
	fill: white; 
}
#galerija .ukrs .kocka4 {
	fill: white;  
}
#galerija .ukrs .kocka5 {
	fill: white; 
}
#galerija .ukrs .kocka6 {
	fill: black; 
	fill-opacity: 0%;
	transition: fill-opacity 0.6s;
	transition-delay: 0.2s; 
}
#galerija .ukrs .kocka7 {
	fill: white;  
}
#galerija .ukrs .kocka8 {
	fill: black; 
	fill-opacity: 0%;
	transition: fill-opacity 0.9s; 
	transition-delay: 0.4;
}
#galerija .ukrs .kocka9 {
	fill: black; 
	fill-opacity: 0%;
	transition: fill-opacity 1.2s;
	transition-delay: 0.6s; 
}
#galerija .ukrs .kocka10 {
	fill: black; 
	fill-opacity: 0%;
	transition: fill-opacity 1.5s; 
	transition-delay: 0.8s;
}
#galerija .ukrs .kocka11 {
	fill: white; 
}
#galerija .ukrs .kocka12 {
	fill: black;
	fill-opacity: 0%; 
	transition: fill-opacity 1.8s;
	transition-delay: 1.0s; 
}
#galerija .ukrs .kocka13 {
	fill: white; 
}

#galerija .ukrs:hover .kocka2 {
	fill-opacity: 100%;
}
#galerija .ukrs:hover .kocka6 {
	fill-opacity: 100%;
}
#galerija .ukrs:hover .kocka8 {
	fill-opacity: 100%;
}
#galerija .ukrs:hover .kocka9 {
	fill-opacity: 100%;
}
#galerija .ukrs:hover .kocka10 {
	fill-opacity: 100%;
}
#galerija .ukrs:hover .kocka12 {
	fill-opacity: 100%;
}


#ao #osoba {
	top: 20px;
	height: 150px;
	width: 533px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 33%;
}


#muzik {

	width: 35vw;
	height: 265px;
	margin-top: 5px;
	margin-left: 45px;
	display: flex;
	float: left;
	align-items: center;
	justify-content: center;

}


#kinematografija {

	width: 35vw;
	height: 265px;
	margin-top: 5px;
	margin-right: 45px;
	display: flex;
	float: right;
	margin-left: 1px;
	align-items: center;
	justify-content: center;

}


.text1 {
	text-align: center;
	font-family: Ariel;
	font-size: 18px;
}

.text2 {
	text-align: center;
	font-family: Ariel;
	font-size: 18px;
}

.text3 {
	text-align: center;
	font-family: Ariel;
	font-size: 18px;
}

.text3 a {
	font-style: italic;
	text-decoration: none;
	color: black;
}

.text3 a:hover {
	color: red; /*#f7d49e*/
}

.text4 {
	text-align: center;
	font-family: Ariel;
	font-size: 18px;
}

.text5 {
	text-align: center;
	font-family: Ariel;
	font-size: 18px;
}

.text5 a {
	font-style: italic;
	text-decoration: none;
	color: black;
}

.text5 a:hover {
	color: red;
}

#mesec {
	height: 80vh;
	margin-top: 5px;
	margin-left: 25%;
}

#mesec #putanjameseca {
	width: 50vw;
}

#putanjameseca .moon1 {
	fill: #f7f9fc; /*#bad9ff*/
	transition: fill 0.3s; 
}

#putanjameseca .moon2 {
	fill: #f7f9fc;
	transition: fill 0.6s; 
	transition-delay: 0.2s;
}

#putanjameseca .moon3 {
	fill: #f7f9fc;
	transition: fill 0.9s; 
	transition-delay: 0.4s;
}

#putanjameseca .moon4 {
	fill: #f7f9fc;
	transition: fill 1.2s; 
	transition-delay: 0.6s;
}

#putanjameseca .moon5 {
	fill: #f7f9fc;
	transition: fill 1.5s; 
	transition-delay: 0.8s;
}

#putanjameseca .fullmoon {
	fill: black;
	transition: fill 1.8s; 
	transition-delay: 1.0s;
}

#putanjameseca .moon6 {
	fill: #f7f9fc;
	transition: fill 2.1s; 
	transition-delay: 1.2s;
}

#putanjameseca .moon7 {
	fill: #f7f9fc;
	transition: fill 2.4s; 
	transition-delay: 1.4s;
}

#putanjameseca .moon8 {
	fill: #f7f9fc;
	transition: fill 2.7s; 
	transition-delay: 1.6s;
}

#putanjameseca .moon9 {
	fill: #f7f9fc;
	transition: fill 3.0s; 
	transition-delay: 1.8s;
}

#putanjameseca .moon10 {
	fill: #f7f9fc;
	transition: fill 3.3s; 
	transition-delay: 2.0s;
}


#putanjameseca:hover .fullmoon1 {
	fill: black;
}

#putanjameseca:hover .moon1 {
	fill: black;
}
#putanjameseca:hover .moon2 {
	fill: black;
}
#putanjameseca:hover .moon3 {
	fill: black;
}
#putanjameseca:hover .moon4 {
	fill: black;
}
#putanjameseca:hover .moon5 {
	fill: black;
}
#putanjameseca:hover .moon6 {
	fill: black;
}
#putanjameseca:hover .moon7 {
	fill: black;
}
#putanjameseca:hover .moon8 {
	fill: black;
}
#putanjameseca:hover .moon9 {
	fill: black;
}
#putanjameseca:hover .moon10 {
	fill: black;
}


